<h1> Hello voici mes liens </h1>
<style>
    .couleur { background-color: green; }
</style>
<div class="couleur">
    <a href="/view/tableau">Lien vers tableau de note</a>
    <a href="/view/afficherliste">Lien vers les élèves</a>
</div>




