<h1> Hello voici mes liens </h1>
<style>
    .couleur { background-color: green; }
</style>
<div class="couleur">
    <a href="{{ path('view_tab') }}">Lien vers tableau de note</a>
    <a href="{{ path('afficherliste') }}">Lien vers les élèves</a>
</div>




