{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(commentairesForm) }}
    {{ form_widget(commentairesForm) }}
    <br><br>
    <button class="btn">{{ button_label|default('Sauvegardez') }}</button>
{{ form_end(commentairesForm) }}


